<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	
	<update id="update" parameterType="noticeDto">
		UPDATE A_notice
	 	SET category=#{category}, title=#{title}, content=#{content}
	 	WHERE num=#{num}
	</update>
	
	<insert id="insert" parameterType="noticeDto">
		INSERT INTO A_notice
		(num,title,category,content,viewCount,regdate)
		VALUES(A_notice_seq.NEXTVAL,#{title},#{category},#{content},0,SYSDATE)
	</insert>
	
	<select id="getList" parameterType="noticeDto" resultType="noticeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			 FROM
				(SELECT num,category,title,content,viewCount,
				TO_CHAR(regdate, 'YYYY"년"MM"월"DD"일" HH24"시"MI"분"') AS regdate
				 FROM A_notice
				 <choose>
						<when test="title != null and content != null">
							WHERE title LIKE '%'||#{title}||'%' 
							OR content Like '%'||#{content}||'%'
						</when>
						<when test="title != null">
							WHERE title LIKE '%'||#{title}||'%'
						</when>
						<when test="category != null">
							WHERE category LIKE '%'||#{category}||'%'
						</when>
				 </choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="noticeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) <!-- NVL 혹시 null이면 0을 가져와라  -->
		FROM A_notice
			<choose>
				<when test="title != null and content != null">
					WHERE title LIKE '%'||#{title}||'%' 
					OR content Like '%'||#{content}||'%'
				</when>
				<when test="title != null">
					WHERE title LIKE '%'||#{title}||'%'
				</when>
				<when test="category != null">
					WHERE category LIKE '%'||#{category}||'%'
				</when>
			 </choose>
	</select>
	
	<select id="getData" parameterType="int" resultType="noticeDto">
		SELECT result1.*
			FROM
    		(SELECT num,category,title,content,viewCount,
    				TO_CHAR(regdate, 'YYYY"년"MM"월"DD"일" HH24"시"MI"분"') AS regdate,
    		 		LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
    		 		LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
   		 	 FROM A_notice) result1
		WHERE num=#{num}
	</select>
	
	<select id="getData2" parameterType="noticeDto" resultType="noticeDto">
		SELECT result1.*
			FROM
    		(SELECT num,category,title,content,viewCount,
    				TO_CHAR(regdate, 'YYYY"년"MM"월"DD"일" HH24"시"MI"분"') AS regdate,
    		 		LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
    		 		LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
   		 	 FROM A_notice
   		 	 <choose>
				<when test="title != null and content != null">
					WHERE title LIKE '%'||#{title}||'%' 
					OR content Like '%'||#{content}||'%'
				</when>
				<when test="title != null">
					WHERE title LIKE '%'||#{title}||'%'
				</when>
				<when test="category != null">
					WHERE category LIKE '%'||#{category}||'%'
				</when>
			 </choose>
   		 	 ) result1
		WHERE num=#{num}
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE A_notice
		SET viewCount = viewCount+1
		WHERE num=#{num}
	</update>
</mapper>