<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserve">
	<select id="getPrice" parameterType="roomPriceDto" resultType="int">
		select price
		from A_room_price
		where weight=#{weight} and room_name=#{room_name}
	</select>
	<select id="getTerm" parameterType="roomPriceDto" resultType="int">
		select to_date(#{checkin_date}, 'yyyy-mm-dd')-to_date(#{checkout_date}, 'yyyy-mm-dd')
		from dual
	</select>
	<select id="getRoomNum" parameterType="roomPriceDto" resultType="int">
		select num
		from A_room
		where room_name=#{room_name} and weight=#{weight}
	</select>
	<update id="updateRoomReserveState" parameterType="reserveDto">
		update A_room
		set room_reserve_state='yes'
		where num=#{room_num}
	</update>
	<insert id="insertReserve" parameterType="reserveDto">
		insert into A_reserve
		(num, member_id, dog_num, room_num, checkin_date, checkout_date, 
			start_time, end_time, name, phone, room_price, regdate, state)
		values(A_reserve_seq.nextval, #{member_id}, #{dog_num}, #{room_num}, to_date(#{checkin_date}, 'yyyy-mm-dd'),
			to_date(#{checkout_date}, 'yyyy-mm-dd'), #{start_time}, #{end_time}, #{name}, #{phone}, #{room_price}, sysdate, '예약대기중')
		
	</insert>
	<select id="getData" parameterType="reserveDto" resultType="reserveDto">
		select num, member_id, dog_num, room_num, to_char(checkin_date, 'yyyy-mm-dd') as checkin_date, to_char(checkout_date, 'yyyy-mm-dd') as checkout_date, start_time, end_time, name, phone, 
		room_price, regdate, state
		from A_reserve
		where member_id=#{member_id} and dog_num=#{dog_num} and room_num=#{room_num}
	</select>
	<select id="getRoomData" parameterType="int" resultType="com.five.amung.reserve.dto.RoomDto">
		select num, room_name, weight, room_reserve_state
		from A_room
		where num=#{num}
	</select>
</mapper>