<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

	<insert id="insert" parameterType="usersDto">
		INSERT INTO A_member
		(id, pwd, email, profile, name, phone, regdate)
		VALUES(#{id}, #{pwd}, #{email}, #{profile}, #{name}, #{phone}, SYSDATE)
	</insert>
	<select id="getData" parameterType="string" resultType="usersDto">
		select id, pwd, email, profile, name, phone, to_char(regdate, 'yy.mm.dd hh24"시"mm"분"')as regdate
		from A_member
		where id=#{id}
	</select>
</mapper>